html, body, h1, div, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

/*
.textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}
*/


/** ashoka colors:
red: RGB: #a70e13
blue: RGB: #082041
ivory: RGB: #faf6e3 */
